/* CSS for portfolio.html */

.contentcontainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    height: auto;
    width: 960px;
    margin: 0 auto;
}

h1 {
    width: fit-content;
    font-size: 20px;
    color: seagreen;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 20px;
}

.image {
    object-fit: fill;
    transform: rotate(0deg);
    width: 300px;
    height: 300px;
}

.picbox {
    object-fit: fill;
    width: 300px;
    height: 300px;
    margin: 50px;
}

section {
    position: relative;
    display: inline-block;
    object-fit: cover;
    width: 150px;
    height: 50px;
}

.thumbnailcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pictext {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    text-align: center;
}

#leftpic {
    position: relative;
    left: -200px;
}