* {
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: gray;
}

body {
    background-image: url(../images/extra_clean_paper.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    height: 70px;
    width: 100%;
    background-color: white;
}

#header {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: white;
    font-size: 20px;
    flex-basis: 20%;
    text-align: center;
    padding-top: 25px;
    position: relative;
    left: -100px;
}

ul {
    padding-top: 30px;
}

li {
    float: left;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
  }

  #portfolio {
      border-left: solid;
      border-right: solid;
      border-width: 1px;
  }

/* #nav {
    background-color: white;
    color: gray;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    justify-content: space-between;
} */

.container-2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    width: 960px;
    margin: 50px 170px 100px 170px;
}

.container-3 {
    display: flex;
    flex-wrap: wrap;
    /* border-top-style: solid;
    border-top-color: gray;
    border-top-width: 2px; */
    margin: 20px;
}

.box {
    width: 300px;
    /* height: 80px; */
    /* margin: 20px; */
    padding: 20px;
    /* border-style: solid;
    border-width: 5px;
    border-color: red; */
}

#box-1 {
    width: fit-content;
    font-size: 30px;
    color: seagreen;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

hr {
    margin-left: 0px;
    margin-right: 0px;
}

#box-2 {
    width: 300px;
    height: 300px;
}

#box-3 {
    /* float: left; */
    width: 500px;
    line-height: 2;
}

#box-4 {
    width: 800px;
    line-height: 2;
}
img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transform: rotate(90deg);
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 5px;
    font-size: 10px;
}